*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    gap: 7.99px;
    
    & .navbar{
        gap: 51.84px;
    }
}